.saved-recipe {
  margin-inline: 2rem;
  background-color: transparent;
  font-weight: bold;
  margin-top: 1em;
  border-radius: 1em;
}
.saved-recipe h2 {
  opacity: 1 !important;
  font-weight: bold;
}

.remove-button {
  background-color: black;
  color: white;
  font-size: larger;
  border: none;
  border-radius: 0.3rem;
  padding: 0.4rem 0.6rem;
  position: absolute;
  z-index: 1;
  transition: 0.2s ease;
  margin: 0;
}

.remove-button:hover {
  transform: scale(1.2, 1.2);
  cursor: pointer;
}

.recipe__saved-title {
  text-align: center;
  font-size: calc(18px + 0.3vw);
  font-weight: bold;
  position: center;
  z-index: 1;
  color: white;
  opacity: 1;
}

.favorite-recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2rem auto;
}
