.search-cookbooks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.cookbook-theme {
  color: var(--color-primary-400);
  background-color: #1b1d2e;
  padding: 2rem;
  width: 10rem;
  height: 12rem;
  margin: auto 1em;
  border-radius: 1em;
  transition: 0.5s ease;
}

.cookbook-theme:hover {
  transform: scale(1.2);
}

.noodles {
  font-size: 3rem;
}
