.cookbooks {
  text-align: center;
  font-weight: bold;
  line-height: 2rem;
  font-size: 18px;
  margin: 10rem auto;
}

.intro-text {
  margin: 1rem 4em;
  margin-top: 5rem !important;
  text-align: center;
  font-weight: bold;
  line-height: 3rem;
  padding: 2em;
}

.cookbooks-showcase > h2 {
  margin: 6rem auto;
  text-align: center;
  color: var(--color-primary-400);
  font-size: 2em;
}

.cookbooks-showcase {
  background-color: #0f0f0f;
  padding: 2em;
  margin: 4rem 8em;
  border-radius: 1em;
}

.cookbooks {
  margin: 10%;
}

.cookbook-section-title {
  text-align: center;
  color: var(--color-primary-400);
  margin: 2rem auto;
}

.cookbook-section {
  background-color: #0f0f0f;
  padding: 3rem;
  border-radius: 1em;
}

.button-create {
  color: var(--color-primary-400);
  text-decoration: none;
  transition: 0.4s ease;
  font-size: 1.3em;
}

.button-create:hover {
  color: var(--color-primary-900);
  text-decoration: none;
  font-size: 1.6em;
}
