.container {
  margin: auto 6em;
  text-align: center;
}

.website-section {
  margin-inline: 10%;
}

.website-section img {
  height: 45vh;
  width: 45vw;
  max-width: 25rem;
}

.home-link {
  font-weight: bold;
  font-size: calc(8px + 1vw);
  line-height: 2rem;
  text-decoration: none;
  color: var(--color-primary-400);
  background-color: transparent;
  padding: 0.6em;
  border: none;
  margin-top: 4px;
  transition: 0.6s ease-in-out;
}

.home-link:hover {
  color: black;
  cursor: pointer;
  background-color: beige;
  border-radius: 4px;
  padding: 12px;
}

.saving-title {
  text-align: center;
}

.logo-home {
  text-decoration: none;
  text-align: center;
  background-image: url("../images/logoSweet.png");
  width: 12rem;
  /* position: relative;
  top: -4em;
  left: 30em; */
}

.logo {
  align-self: center;
}

.home-logout {
  text-decoration: none;
  color: var(--color-primary-400);
  background-color: black;
  border: none;
  font-size: 16px;
  font-size: large;
  font-weight: bold;
}

.home-logout:hover,
.home-logout.active {
  color: var(--color-primary-800);
  text-decoration: underline;
}

.login-actions a {
  margin-inline: 1vw;
}

.home-community {
  line-height: calc(10px + 0.8vw);
  color: white;
  font-weight: bold;
  font-size: calc(8px + 1vw);
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 2rem;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.home-actions {
  margin-top: 8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.home-actions p {
  color: white;
  font-weight: bold;
  font-size: calc(10px + 1vw);
  line-height: calc(16px + 1.4vw);
}
