.home-card {
  background-color: #0d0d0d;
  justify-content: space-around;
  display: flex;
  padding: 2em;
  width: 95%;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
  margin: 8rem auto;
}

.home-card p {
  color: white;
  font-weight: bold;
  font-size: calc(10px + 1vw);
  line-height: calc(12px + 1vw);
  margin: auto 2rem;
}

.home-card img {
  height: 40vh;
  width: 45vw;
}
.home-intro {
  color: white;
  font-weight: bold;
  font-size: calc(16px + 1vw);
  line-height: calc(16px + 1.4vw);
  text-align: center;
  margin-top: 15rem;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.show {
  opacity: 1 !important;
}

.home-content {
  width: 100%;
}

.home-website {
  background-color: #0d0d0d;
  flex-direction: column;
  display: flex;
  padding: 2em;
  width: 85%;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
  margin: 4rem auto;
}

.home-website p {
  color: white;
  font-weight: bold;
  line-height: calc(16px + 1.4vw);
  text-align: center;
  font-size: calc(16px + 0.6vw);
  margin-bottom: 5rem;
}
