.search-cookbooks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.cookbook-theme {
  color: var(--color-primary-400);
  background-color: black;
  padding: 2rem;
  width: 10rem;
  height: 12rem;
  margin: auto 1em;
}

.noodles {
  font-size: 3rem;
}
