html {
  box-sizing: border-box;
  font-size: 62.5%;
}

html *,
*:before,
*:after {
  box-sizing: inherit;
}

/* main */

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: black;
  --secondary-color: #f5f5f5;
  --text-color: #f5f5f5;
  --background-color: #1b1d2e;
  --background-color-secondary: #232538;
  --desktop: 1024px;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #0d0d0d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-gray-100: #f4f3f1;
  --color-gray-200: #dddbd8;
  --color-gray-300: #ccc9c6;
  --color-gray-400: #aeaba7;
  --color-gray-500: #8a8784;
  --color-gray-600: #656360;
  --color-gray-700: #4b4a47;
  --color-gray-800: #31302e;
  --color-gray-900: #1f1d1b;

  --color-primary-100: #fcf3e1;
  --color-primary-200: #fceccd;
  --color-primary-300: #fae1af;
  --color-primary-400: #fbd997;
  --color-primary-500: #ffd37c;
  --color-primary-600: #f9c762;
  --color-primary-700: #fbc14d;
  --color-primary-800: #fab833;
  --color-primary-900: #f6ad1b;
}

textarea {
  -webkit-font-smoothing: antialiased;
}

.user-message {
  width: 90%;
  border: 1px solid #4771fa;
  padding: 0.5rem;
  border-radius: 3px;
  background: #b9c9ff;
}

.user-message--error {
  border-color: red;
  background: rgb(255, 176, 176);
  color: red;
  text-align: center;
}

/* card */

.card-product {
  overflow: hidden;
  background: grey;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  align-items: center;
  max-width: 40%;
  border-radius: 8px;
  margin: 2em 0;
}

.card-product img {
  max-height: 15em;
  margin: 1em 0;
  image-rendering: auto;
  width: 100%;
  object-fit: center;
}

.cookbook-show-img {
  width: 40%;
  max-height: 20em;
  margin: 5em 0;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cookbook-searchbar {
  width: 80%;
  margin: auto;
}

.border-section-full {
  padding-bottom: 2em;
  border-bottom: solid;
  border-color: var(--color-primary-400);
}
.border-section {
  padding-bottom: 2em;
  border-bottom: solid;
  border-color: var(--color-primary-400);
  margin: auto;
}

.border__section-top {
  padding-top: 2em;
  border-top: solid;
  border-color: var(--color-primary-400);
  margin: 10%;
}

.intro-text {
  margin: 1rem 4em;
  margin-top: 2rem !important;
  text-align: center;
  font-weight: bold;
  line-height: 3rem;
  padding: 2em;
  font-size: 1.2rem;
}

input[type="file"] {
  display: none;
}
