.header {
  max-width: 60rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.3em;
}

.list {
  display: flex;
  gap: 10rem;
  margin-top: 1em;
  justify-content: space-between;
}

.list li {
  list-style: none;
  font-size: large;
  font-weight: bold;
}

.list a {
  color: var(--color-primary-400);
  text-decoration: none;
}

.list a:hover,
.list a.active {
  color: var(--color-primary-800);
  text-decoration: underline;
}
